<div  id="inline-bullet-summary" class="inline-bullet-summary">
	<div class="container">
		{# class:image-to-text image: left/ text:right#}
		{# class:text-to-image text: left/ image:right#}
		<div class="wrapper-bullet-summary">
			<div class="col-bullet-summary col-image">
				<img src="https://via.placeholder.com/610x486" alt="placehoder image"/>			
			</div>
			<div class="col-bullet-summary col-text">
				<h3 class="title-inline-bullet">Header Text</h3>
				<p class="desc-text">Cost of electricity doesn’t have to be confusing – all you need is one honest rate upfront.</p>
				<ul class="list-benefits">
					<li>
						<img src="/uploads/images/Strata.png" alt="Unique Selling Point"/>
						<span>Unique Selling Point 1</span>
					</li>
					<li>
						<img src="/uploads/images/Strata.png" alt="Unique Selling Point"/>
						<span>Unique Selling Point 2</span>
					</li>
					<li>
						<img src="/uploads/images/Strata.png" alt="Unique Selling Point"/>
						<span>Unique Selling Point 3</span>
					</li>
				</ul>
			</div>			
		</div>
	</div>
</div>