<div  id="section-textimage" class="section-textimage">
	<div class="container">
		{# class:image-to-text image: left/ text:right#}
		{# class:text-to-image text: left/ image:right#}
		<div class="wrapper-textimage text-to-image">
			<div class="col-textimage col-image">
				<img src="https://via.placeholder.com/610x320" alt="placehoder image"/>			
			</div>
			<div class="col-textimage col-text">
				<p class="desc-text">With this option we'll own the system and when it’s time to move on we will remove the system for free or you can buy it for $1.00. The common area signs up to LPE for their electricty supply for the life of the system and the whole community benefits from getting solar. </p>
			</div>			
		</div>
	</div>
</div>