<div  id="section-bullet-summary" class="section-bullet-summary">
	<div class="container">		
		{# class:bullet-summary-detail #}
		<div class="wrapper-bullet-summary {# bullet-summary-detail #}">
			<div class="col-bullet-summary bullet-summary-left">
				<h3 class="title-bulletsummary">Didn’t think you could have solar in your home? <span class="title-blue">With LPE, you can!</span></h3>
				<p class="subtitle-bulletsummary">LPE can install solar on your home today</p>
			</div>
			<div class="col-bullet-summary bullet-summary-right">
				<h5 class="title-inline-bullet">Benefits</h5>				
				<ul class="list-benefits">
					<li>
						<div class="title-benefit">
							<img src="/uploads/images/Strata.png" alt="Unique Selling Point"/>
							<span>Unique Selling Point 1</span>
						</div>
						<p>Lorem Ipsum</p>
					</li>
					<li>
						<div class="title-benefit">
							<img src="/uploads/images/Strata.png" alt="Unique Selling Point"/>
							<span>Unique Selling Point 1</span>
						</div>
						<p>Lorem Ipsum</p>
					</li>
					<li>
						<div class="title-benefit">
							<img src="/uploads/images/Strata.png" alt="Unique Selling Point"/>
							<span>Unique Selling Point 1</span>
						</div>
						<p>Lorem Ipsum</p>
					</li>
					<li>
						<div class="title-benefit">
							<img src="/uploads/images/Strata.png" alt="Unique Selling Point"/>
							<span>Unique Selling Point 1</span>
						</div>
						<p>Lorem Ipsum</p>
					</li>
					<li>
						<div class="title-benefit">
							<img src="/uploads/images/Strata.png" alt="Unique Selling Point"/>
							<span>Unique Selling Point 1</span>
						</div>
						<p>Lorem Ipsum</p>
					</li>
				</ul>
			</div>			
		</div>
	</div>
</div>