<div id="electricity-business" class="electricity-business">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="wrap-section-txt">
					<h4>Electricity on in 1 business day*</h4>
					<p>As long as there is clear and safe access to the property, with pets safely away from the meter, we only require 1 business days; notice to get your electricity connected for move-in day.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="wrap-section-txt">
					<h4>It’s Simple</h4>
					<p>Simply tell us when and where, and we’ll be there.</p>
				</div>
			</div>
		</div>
	</div>
</div>
