.footer-top-wapper {
    display: flex;


    @media (max-width: 767px) {  
        flex-direction: column;

        .contact-button {
            text-align: center;
        }
    }

    .footer-top-menus {
        flex-grow: 1;
    }

}
.footer-top {
    background: #F7FBFC;
    padding: 60px 0;

    @media (max-width: 767px) {  
        padding: 30px 0 10px;
        overflow: hidden;
    }
    .contact-button {
        margin: 20px 0;
    }
}
.nav-footer-top {
    display: flex;
    .nav-footer-top-menu {
        width: 100px ;
        margin-right: 10px;

        .footer-menu-heading {
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;  
            color: #A6B5C6; 
            margin-bottom: 10px; 
            a {
                font-style: italic;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;  
                color: #A6B5C6; 
            }
        }
    }
    > .nav-footer-top-menu > .footer-menu-heading {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #68819D;

        > a {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #68819D;
        }
    }
}

.footer-copyright-notice {
    background: #fff;
    .copyright-notice-wapper {
        display: flex;
        justify-content: space-between;
        @media (max-width: 991px) {  
            justify-content: space-between;
            flex-direction: column; 
        }
        .copyright {
            margin: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px; 
            color: #A6B5C6;
            padding: 10px 20px; 
            border-right: 1px solid #D3DFEC;
            @media (max-width: 991px) {  
                border-right: none; 
                text-align: center;
            }
        }
        ul {
            display: inline-block;
            padding: 0;
            list-style: none;
            float: left;
            margin: 0;
            @media (max-width: 991px) {  
                text-align: center;
            }
            li {
                display: inline-block;
                float: left;
                @media (max-width: 991px) {  
                    float: none;
                }
                a {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    padding: 10px 20px; 
                    border-left: 1px solid #F7FBFC;
                    display: inline-block;
                    float: left;
                    color: #A6B5C6; 

                    &:hover {
                        color: #37B4E4;
                    }

                    @media (max-width: 767px) {  
                        padding: 8px 10px; 
                    }
                }
                &:last-child {
                    a {
                        border-right: 1px solid #F7FBFC;
                    }
                }
            }
        }
    }
    
}
