// moving home section
.textColumn {
    padding: 20px 0 20px;  

    @media (max-width: 767px) {
        padding: 10px 0 10px; 
    }

    .textColumn-wapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        .item-col {
            padding: 0 15px;
            text-align: center;
            @media (max-width: 767px) {
                margin-bottom: 10px;
                width: 100%;
            }
        }
        &.number-2Columns {
            .item-col {
                width: calc((100% - 30px)/2);
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
        &.number-3Columns {
            .item-col {
                width: calc((100% - 30px)/3);
                @media (max-width: 991px) {
                    width: calc((100% - 30px)/2);
                }
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
        &.number-4Columns {
            .item-col {
                width: calc((100% - 30px)/4);
                @media (max-width: 991px) {
                    width: calc((100% - 30px)/2);
                }
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
        &.number-6Columns {
            .item-col {
                width: calc((100% - 30px)/6);
                @media (max-width: 991px) {
                    width: calc((100% - 30px)/2);
                }
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
}